* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #222831;
    font-family: 'Indie Flower', cursive;
    color: #ececec;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*animace*/

@keyframes prechod {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

::selection {
    background-color: #f2a365;
}

#logo {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/*navigační menu*/
nav {
    width: 100%;
    background-color: #30475e;
}

nav ul {
    overflow: hidden;
    list-style-type: none;
    margin: auto;
    width: fit-content;
}

nav li {
    float: left;
    padding: 20px 30px;
}

nav a {
    text-decoration: none;
    color: #ececec;
    font-size: 20px;
}

nav a:hover {
    color: #f2a365;
}

/*index*/
.index {
    width: 50%;
    margin: auto;
    margin-top: 7%;
    margin-bottom: 7%;
}

.index h1 {
    font-weight: normal;
    text-align: center;
    margin-top: 2%;
    font-size: 30px;
    animation: prechod 4s;
}

.index p {
    margin-top: 20px;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    animation: prechod 4s;
    margin-bottom: 40px;
}

.index img {
    display: block;
    margin: auto;
    width: 300px;
    animation: prechod 2s;
}

/*styly na stránku "o nás"*/
.onas {
    width: 50%;
    margin: 40px auto 0 auto;
}

#onas h1 {
    font-size: 30px;
    text-align: center;
    margin: 0 0 10px 0;
    color: #f2a365;
    font-weight: 600;
    text-decoration: underline;
}

#onas p {
    text-align: justify;
}

/*galerie*/
.rada {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 75%;
    margin: auto;
    margin-bottom: 40px;
}

.rada article img {
    width: 191px;
    height: 255px;
    margin-left: 36px;
    margin-top: 40px;
    float: left;
    border: solid 2px transparent;
}

.rada article img:hover {
    border-color: #f2a365;
}

.popis1 a {
    margin-left: 40px;
    font-size: 18px;
    font-weight: bolder;
    color: #f2a365;
    text-decoration: none;
}

.popis2 {
    margin-left: 40px;
    font-size: 11px;
}

/*oranžový text*/
.oranzovy {
    color: #f2a365;
}

.oranzovy a {
    color: #f2a365;
    text-decoration: none;
}

/*patička*/
footer {
    margin-top: auto;
    text-align: center;
    background-color: #30475e;
    width: 100%;
    padding: 13px 0;
}

/*styly na stránku zdroje*/
.zdroje {
    margin-top: 20px;
    text-align: center;
}

.zdroje ul {
    margin-top: 10px;
    display: inline-block;
    text-align: left;
}

.zdroje h2 {
    font-size: 29px;
}

.zdroje li {
    margin-top: 5px;
}

/*styly na stránku se jednotlivými filmy/seriály*/
.filmyserialy img {
    width: 300px;
    margin: 40px 171.5px;
    float: left;
    box-shadow: 8px 9px #191d24;
    border-radius: 1%;
}

.filmyserialy h1 {
    font-size: 30px;
    text-align: center;
    margin: 40px 0 5px 0;
    color: #f2a365;
    font-weight: 600;
    text-decoration: underline;
}

.filmyserialy {
    margin-right: 171.5px;
    text-align: justify;
}

.filmyserialy ul li {
    display: inline-block;
    background-color: #30475e;
    padding: 5px;
    border-radius: 15%;
}

.filmyserialy ul {
    text-align: right;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1400px) {
    .filmyserialy {
        width: 75%;
        margin: auto;
    }

    .filmyserialy img {
        display: block;
        width: 300px;
        margin: 40px auto 0 auto;
        float: none;
    }

    .filmyserialy iframe {
        width: 100%;
        margin-top: 40px;
    }
}

/*video*/
iframe {
    margin: 30px auto 0 auto;
    display: block;
    width: 560px;
    height: 315px;
    border: 1px solid #f2a365;
    margin-bottom: 40px;
}

/*procházení mezi filmy/seriály*/
.predchozi {
    background-color: #ececec;
    padding: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
    border-radius: 50%;
    border: none;
    font-size: 20px;
}

.dalsi {
    background-color: #f2a365;
    padding: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3%;
    border-radius: 50%;
    border: none;
    font-size: 20px;
}

.predchozi:hover {
    background-color: #ddd;
    cursor: pointer;
}

.dalsi:hover {
    background-color: #ddd;
    cursor: pointer;
}

/*styly na stránku stáhnout*/
#stahnout {
    font-size: 30px;
    background-color: #f2a365;
    border: none;
    padding: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #30475e;
    border-radius: 10%;
}

#stahnout:hover {
    cursor: pointer;
}
